div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 1px #059862 solid;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #059862;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 8px 30px;
}

button:hover {
    cursor: pointer;
    background-color: black;
    transition: 1s;
}

ul {
    list-style: none;
}

ul li {
    display: inline;
    padding: 10px 15px;
}

ul li:hover {
    color: white;
    cursor: pointer;
    background-color: #059862;
}

.btn-black {
    background-color: #282A35;
}

.btn-red {
    color: black;
    background-color: rgb(255,192,199);
}

.btn-yellow{
    color: black;
    background-color: #FFF4A3;
}