* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(191deg, rgba(2,0,36,1) 0%, rgba(130,25,105,0.4962359943977591) 35%, rgba(0,212,255,1) 100%);
}

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #48C5C5;
    text-align: center;
    color: white;
    padding: 10px;
}

.title {
    font-size: 26px;
}

section {
    padding: 20px;
    background-image: url('../img/background-2.jpg');
    background-size: cover; /* redimensionar o tamanho da imagem para o tamanho da div */
    overflow: hidden;       /* permite o preenchimento total do conteúdo */
}

.form-container {
    max-width: 250px;
    background-color: #ffffffbb;
    padding: 20px;
    float: right;
}

h2 {
    font-size: 16px;
}

.mb {
    margin-bottom: 15px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #48C5C5;
    font-weight: bold;
    color: white;
}

footer {
    background-color: #202121;
    padding: 20px;
    text-align: center;
}

.picture {
    width: 160px;
}

.description {
    display: inline-block;
    color: white;
    max-width: 40%;
    margin-left: 40px;
    text-align: left;
}

.description p, .description h3 {
    margin-bottom: 20px;
}

.description h3 {
    font-size: 24px;
}