* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

main {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #c4c4c4;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

form {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-login {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

form div {
    width: 300px;
    height: auto;

    display: flex;
    justify-content: space-between;
}

button {
    width: 300px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}

#btn-login {
    background-color: #2691D9;
}

#btn-gmail {
    background-color: #A52F35;
}

button:hover {
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

