<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1> Listagem de livros </h1>

        <table>
            <tr>
                <td>ID</td>
                <td>Título</td>
            </tr>
                <tr>
                <td>1</td>
                <td>Fundamentos do Node</td>
            </tr>
        </table> 
    </body> 
</html>