<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Lorem ipsum mais um dia e meio</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>

</html>